.tag-selection-root {
  width: 100%;
}

.tag-selection-section {
  margin-bottom: 16px;
}

.tag-selection-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-selection-details-content {
  padding-top: 4px;
}

.tag-selection-group {
  margin-top: 8px;
}

.tag-selection-group:first-child {
  margin-top: 0;
}
